.App {
  text-align: center;
}

.fetch-btn {
  margin: 1em;
  padding: .5em 1em;
  background-color: rgb(46, 46, 46);
  color: white;
  font-weight: bold;
  font-size: 24px;
  border-radius: 300px;
}

.spinner {
  margin: 5em;
  width: 200px;
  height: 200px;
  animation: spin 0.5s infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
